.secret-layout {
  position: relative;
  z-index: 2;

  width: 90%;
  max-width: 1000px;

  margin: 40px auto 120px;

  display: flex;
  justify-content: center;
}

.password-box,
.secret-content {
  width: 100%;

  padding: 45px;
  border-radius: 35px;

  text-align: center;
}

.password-box h1 {
  font-size: 90px;
  margin: 15px 0;
}

.secret-text {
  line-height: 2;
  margin-bottom: 30px;
}

.password-box input {
  width: 100%;
  max-width: 350px;

  padding: 16px 20px;

  border: none;
  outline: none;

  border-radius: 18px;

  background: rgba(255,255,255,0.5);

  font-family: inherit;
  font-size: 15px;
}

.password-box button {
  margin-top: 18px;

  border: none;
  cursor: pointer;

  padding: 15px 24px;

  border-radius: 18px;

  font-family: inherit;
  font-size: 15px;
  font-weight: 600;

  background: white;

  transition: .3s ease;
}

.password-box button:hover {
  transform: translateY(-3px);
}

.error-text {
  display: none;

  margin-top: 18px;

  color: #ff4d88;
  font-size: 14px;
}

.secret-content {
  display: none;
  flex-direction: column;
  gap: 25px;
}

.secret-content h2 {
  font-size: 56px;
  color: #ff5e9c;
}

.inside-text {
  line-height: 2;
  max-width: 550px;
  margin-inline: auto;
}

.secret-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 18px;

  margin-top: 10px;
}

.secret-card {
  padding: 28px;
  border-radius: 28px;

  line-height: 1.8;
}

.back-btn {
  text-decoration: none;
  color: inherit;

  padding: 12px 18px;
  border-radius: 18px;
}

.shake {
  animation: shake .3s linear;
}

@keyframes shake {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }

}

@media (max-width: 768px) {

  .password-box,
  .secret-content {
    padding: 35px 25px;
  }

  .secret-content h2 {
    font-size: 42px;
  }

}
